.bodyContainer{
    padding-bottom: 60px;
    align-items: center;
}

.imgCarrousel{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
img{
    width: 1250px;
    height: 500px;
}


.bodyDistributed{
    margin-top: 80px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 1px 1px 0 rgba(170, 16, 16, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    padding: 20px 50px;
}

.title{
    font-size: 30px;
    margin: 10px 0;
}

.books{
    display: flex;
}
